@{
    ViewBag.Title = "Contacts List";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />


<div class="jumbotron">
    <h1>Contacts List</h1>
</div>
<table id="Contacts" class="table table-hover " style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Organization</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ante</td>
            <td>Anto</td>
            <td>Antic</td>
            <td></td>
            <td>aante@gmail.com</td>
        </tr>
        <tr>
            <td>Kate</td>
            <td>Katarina</td>
            <td>Maric</td>
            <td></td>
            <td>keti13@gmail.com</td>
        </tr>
        <tr>
            <td>Mariana</td>
            <td>Mariana</td>
            <td>Mariana</td>
            <td>Udruga sidro</td>
            <td></td>
        </tr>
        <tr>
            <td>Ana</td>
            <td>Ana</td>
            <td>Anic</td>
            <td></td>
            <td>anci123@hotmail.com</td>
        </tr>
        <tr>
            <td>Kuma</td>
            <td>Ana</td>
            <td>Cop</td>
            <td></td>
            <td>zekipeki45@hotmail.com</td>
        </tr>
        <tr>
            <td>Kum</td>
            <td>Andro</td>
            <td>Andric</td>
            <td>RiRock</td>
            <td></td>
        </tr>
        <tr>
            <td>Andro Barka</td>
            <td>Andro</td>
            <td>Andro</td>
            <td>Lucica Icici</td>
            <td></td>
        </tr>
        <tr>
            <td>Boki</td>
            <td>Bojan</td>
            <td>Bojan</td>
            <td>Fit Bit Teretana</td>
            <td></td>
        </tr>
        <tr>
            <td>Trener</td>
            <td>Tomislav</td>
            <td>Tomislavic</td>
            <td>Fit Bit Teretana</td>
            <td></td>
        </tr>
        <tr>
            <td>Biciklista</td>
            <td>Erik</td>
            <td>Erik</td>
            <td></td>
            <td>biciklista78@gmail.com</td>
        </tr>
        <tr>
            <td>Valko</td>
            <td>Val</td>
            <td>Valić</td>
            <td></td>
            <td>biciklista1@gmail.com</td>
        </tr>
    </tbody>
</table>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Controllers/ContactController.js"></script>
<script type="text/javascript">

    function runWhenReady() {
        if (window.$) {
            //ContactController.getAllContacts();
            genrateGrid();
        }
        else
            setTimeout(runWhenReady, 100);
    }

    function genrateGrid() {
        $('#Contacts').DataTable();
        //    data: Contact,
        //    columns: [
        //        { title: "Name" },
        //        { title: "Description" }
        //    ]
        //});
    }

    runWhenReady();
</script>