@{
    ViewBag.Title = "Address book";
}


<div class="jumbotron">
    <h1>Address book</h1>
    <p class="lead">Last added contacts to address book:</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body text-center bg-info text-white" style="padding:10px 5px 10px 5px">
                <h3 class="card-title ">Marko</h3>
                <h4 class="card-subtitle mb-2 text-muted ">Dukat d.o.o.(organization)</h4>
                <p class="card-text">
                    Name:</br>
                    Surname:</br>
                    Phone number:</br>
                    Email:</br>
                    Contact group:
                </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Edit contact
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body text-center bg-info text-white" style="padding:10px 5px 10px 5px">
                <h3 class="card-title ">Pero (title)</h3>
                <h4 class="card-subtitle mb-2 text-muted ">Dukat d.o.o.(organization)</h4>
                <p class="card-text">
                    Name:</br>
                    Surname:</br>
                    Phone number:</br>
                    Email:</br>
                    Contact group:
                </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Edit contact
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body text-center bg-info text-white" style="padding:10px 5px 10px 5px">
                <h3 class="card-title ">Pero (title)</h3>
                <h4 class="card-subtitle mb-2 text-muted ">Dukat d.o.o.(organization)</h4>
                <p class="card-text">
                    Name: </br>
                    Surname:</br>
                    Phone number:</br>
                    Email:</br>
                    Contact group:
                </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Edit contact
                </button>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-sm-10">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Edit contact</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form>
                    <div class="form-group">
                        <label for="contact-title" class="col-form-label" >Title:</label>
                        <input type="text" class="form-control" required id="contact-title" placeholder="Mark">
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="contact-name" placeholder="Mark">
                    </div>
                    <div class="form-group">
                        <label for="contact-surname" class="col-form-label">Surname:</label>
                        <input type="text" class="form-control" id="contact-surname" placeholder="Twain">
                    </div><div class="form-group">
                        <label for="contact-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="contact-email" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="contact-phoneNumber">Phone number:</label>
                        <input type="text" class="form-control" required id="contact-phoneNumber1" placeholder="0995244687">
                        <input type="checkbox" class="custom-control-input" id="defaultnumber1">
                        <label class="custom-control-label" for="defaultUnchecked">Default phone number</label>
                    </div>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#moreNumbers">More numbers</button>
                    <div id="moreNumbers" class="collapse">
                        <div class="form-group">
                            <label for="contact-phoneNumber">Phone number:</label>
                            <input type="text" class="form-control" id="contact-phoneNumber2">
                            <input type="checkbox" class="custom-control-input" id="defaultnumber2">
                            <label class="custom-control-label" for="defaultUnchecked">Default phone number</label>
                        </div>
                        <div class="form-group">
                            <label for="contact-phoneNumber">Phone number:</label>
                            <input type="text" class="form-control" id="contact-phoneNumber3">
                            <input type="checkbox" class="custom-control-input" id="defaultnumber3">
                            <label class="custom-control-label" for="defaultUnchecked">Default phone number</label>
                        </div>
                        <div class="form-group">
                            <label for="contact-phoneNumber">Phone number:</label>
                            <input type="text" class="form-control" id="contact-phoneNumber4">
                            <input type="checkbox" class="custom-control-input" id="defaultnumber4">
                            <label class="custom-control-label" for="defaultUnchecked">Default phone number</label>
                        </div>
                        <div class="form-group">
                            <label for="contact-phoneNumber">Phone number:</label>
                            <input type="text" class="form-control" id="contact-phoneNumber5">
                            <input type="checkbox" class="custom-control-input" id="defaultnumber5">
                            <label class="custom-control-label" for="defaultUnchecked">Default phone number</label>
                        </div>
                        <div class="form-group">
                            <label for="contact-phoneNumber">Phone number:</label>
                            <input type="text" class="form-control" id="contact-phoneNumber6">
                            <input type="checkbox" class="custom-control-input" id="defaultnumber6">
                            <label class="custom-control-label" for="defaultUnchecked">Default phone number</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-organization" class="col-form-label">Organization:</label>
                        <input type="text" class="form-control" id="contact-organization" placeholder="Microsoft">
                    </div>
                    <div class="form-group">
                        <label for="contact-group" class="col-form-label">Group:</label>
                        <select class="custom-select">
                            <option value="Posao">Posao</option>
                            <option value="Obitelj">Obitelj</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="fromValidation()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Controllers/ContactController.js"></script>
<script type="text/javascript">

    function runWhenReady() {
        if (window.$)
            ContactController.getLastAddedContacts(3);
        else
            setTimeout(runWhenReady, 100);
    }

    function fromValidation() {
        var phoneNumbers  new Array(6);
        var tile = document.getElementById("contact-title").value;
        var phoneNumber = document.getElementById("contact-phoneNumber").value;
        if (tile == "" || tile == null) {
            alert("Contact title must me filled");
        } else if (phoneNumber == "") {
            alert("Contact must have at least one phone number");
        }
        //else {
        //    ContactController.updateOrInsertContact();
        //}
    }

    runWhenReady();
</script>